.home-icon {
  margin-right: 15px;
  color: #383838;
}

.icons-color {
  color: #7e858e;
}

.homeH {
  color: #ff0000;
  font-size: 20px;
}

.trendingT {
  color: #ff0000;
  font-size: 20px;
}

.gamingG {
  color: #ff0000;
  font-size: 20px;
}

.save_videoS {
  color: #ff0000;
  font-size: 20px;
}
